body {
    margin: 0;
    background-color: rgb(2, 43, 2);
}

p {
    padding-left: 20px;
}

/** sample header styling **/
.title {    
    text-decoration: none;
    color: limegreen;
    text-align: left;
    padding-left: 20px;
    font-family: monospace;
    font-size: 60px;
    margin-top: 0px;
}

.main-menu-item {
    font-size: 18px;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-menu-link {
    text-decoration: none;
    color: limegreen;
}

.help {
    margin-left: 40px;
    margin-right: auto;
    display: block;
    height: auto;
    color: limegreen;
    text-align: left;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
/** thumbnail gallery **/
.gallery {
    margin-left: 40px;
    margin-right: auto;
    display: block;
    height: auto;
}
.thumb {
    position: relative;
    width: 270px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 1px;
    float: left;
    background-color: rgb(1, 26, 1);
    border: 1px solid rgb(3, 61, 3);
}
.thumb-title {
    text-align: center;
    color: limegreen;
    font-family: monospace;
    font-size: 18px;        
    font-weight: bold;
}
.img-frame {
    margin: 2px;
    width: auto;
    height: 165px;
}

.img-btn {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 20px;
    padding: 2px;
    display: block;
    background-color: limegreen;
    cursor: pointer;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    text-align: center;
    color: black;
}

.img-btn:hover {
    background-color: black;
    border-color: limegreen;
    color: limegreen;
}

.img-btn-link {
    text-decoration: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 16px;
    color: inherit;
}

.image {
    display: block;
    height: 165px;
    width: auto;
    max-width: 236px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
.thumb-bar {
    vertical-align: bottom;
    padding-top: 5px;
    font-family: monospace;
    font-size: 14px;    
    width: 100%;
    color: limegreen;
    text-align: center;
    text-decoration: none;
}
.gallery-bottom {
    height: 30px;
    clear: both;
}

/* the emscripten canvas must not have any border or padding, or mouse coords will be wrong */
.game {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0px;
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor; 
}
